<div class="content">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <mat-form-field>
      <mat-label for="username">Brukernavn</mat-label>
      <input matInput id="username" type="text" formControlName="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label for="password">Passord</mat-label>
      <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit">Logg inn</button><br><br>
</form>