<div class="grid">
    <section id="deckContainer">
        <div id="title" class="title">
            <h1>
                Decks
            </h1>
            <button mat-raised-button (click)="importDeck('W72H4')">test import</button>
        </div>
        <mat-form-field id="deckSearch" class="search">
            <mat-label for="deckSearch">Search for deck</mat-label>
            <input matInput type="search" id="deckSearch" [(ngModel)]="deckSearchTerm" (ngModelChange)="deckSearch($event)">
        </mat-form-field>
        <section id="listDecks">
            <mat-card *ngFor="let object of searchedDecks" class="card">
                <mat-card-content>
                    <h3>
                        {{object.title}}
                    </h3>
                    <br>
                    {{object.description}}
                </mat-card-content> 
                <button mat-raised-button color="primary" (click)="showDeck(object.id)">Edit</button>
            </mat-card>
        </section>
    </section>
    <section  *ngIf="deck; else noSelectedDeckBlock" id="cardsContainer">
        <div id="deckTitle" class="title">
            <h1>{{deck.title}}</h1>
        </div>
        <mat-form-field id="cardSearch" class="search">
            <mat-label for="cardSearch">Search for cards</mat-label>
            <input matInput type="search" id="cardSearch" [(ngModel)]="cardSearchTerm" (ngModelChange)="cardSearch($event)">
        </mat-form-field>
        <section id="listCards">
            <mat-card *ngFor="let card of searchedCards" class="card">
                <mat-card-content>
                    <h3>
                        {{card.text}}
                    </h3>
                    <p *ngIf="card.blanks != 0; else isWhite">
                        Black card with {{card.blanks}} {{ card.blanks > 1 ? "blanks" : "blank"}}
                    </p>
                    <ng-template #isWhite>
                        <p>
                            White card
                        </p>
                    </ng-template>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="editCard(card)">Edit</button>
                    <button mat-raised-button color="warn" (click)="deleteCard(card)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </section>
    </section>
    <ng-template #noSelectedDeckBlock>
        <section id="cardsContainer">
            <div id="deckTitle">
                <h1>
                    Please select a deck
                </h1>
            </div>
        </section>
    </ng-template>
</div>
