.grid {
  max-height: 100vh;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;

  grid-template-columns: auto 45% 45% auto;
  grid-template-rows: 5px auto 5px;
}

.deckContainer {
  grid-column: 2/ 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px auto;
  grid-template-areas: 
    "title deckSearch"
    "deckList deckList"
  ;
}

.cardsContainer {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-rows: 150px auto;
  grid-template-areas:
  "deckTitle cardSearch"
  "cardList cardList";
}

#deckTitle {
  grid-area: deckTitle;
}

#title {
  grid-area: title;
}

#cardSearch {
  grid-area: cardSearch;
}

#deckSearch {
  grid-area: deckSearch
}

#listCards {
  grid-area: cardList;
}

#listDecks {
  grid-area: deckList; 
}